
body, html{
  background-color: #EBD8C3;
  height: 100%;
  font-weight: 200;
  line-height: 0;
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
  font-family: 'Koulen';
  font-size: 30px;
  margin-left: 1000px;
  color: inherit;
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #534340;
    font-weight: bolder;
    margin-left: 25px;
}
.navbar .menu li a:hover{
  text-decoration: none;
    color: #A0937D;
}


.logo{
  float: left;
  padding-top: 20px;
  padding-left: 10px;
  height: 100px;
  width: 100px;
  display: inline;
}
img{
  height: 400px;
 display: block;
 width:
}
#pfp{
  display: inline;
  margin-top: 3%;
  margin-right: 50px;
  border-radius: 30px;
  justify-content: center;

}
#pfp:hover{
      box-shadow: 0px 0px 40px 20px #7D5A50;
}
h1{
  display: block;
  margin-top: 2%;
  text-align: center;
  font-size: 60px;
  color: inherit;
  line-height: 1.5;
  font-family: 'Pacifico'
}
.pronounciation{
  margin-bottom: 2%;
  font-size: 30px;
  color: #F8E2CF;
  font-family: 'Pacifico'
}
.name{
  margin-bottom: 8%;
}
.mainBG{
  background-image:url("../images/desert.jpg");
  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  height: 130em;
}

#slider{
  transition-property: all;

  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  height: 70em;
}





.slider {

  margin-bottom: 3px;
  position: relative;
  display: block;
  margin-top: 30%;

}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #534340; /* fallback for old browsers */
  color: #D8AC9C;
  box-shadow: 0px 0px 20px 5px #534340;
}
.slider-card {

  background: #FFD3B5;
  padding: 0px 0px;
  margin: 50px 15px 70px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  display: block;
  margin-top: 2%;
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #EA907A !important;
  font-size: bold;

}


.popup {
  color: inherit;
  font-size: 40px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(2s) forwards;
}



@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#myBtn {
  display: block;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: #FCDEC0;
  color: #7D5A50;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #534340;
}
